# String

Reserve keyword that is available in python

In [2]:
name=input("what is your name?")
print(name)

what is your name?My name is dakshi gupta
My name is dakshi gupta

In [3]:
a=float(input("enter no. 1:"))
b=float(input("enter no. 2:"))
c=a+b
print("My output is :",c)

enter no. 1:22
enter no. 2:44
My output is : 66.0

In [1]:
Name=input("What is your full name?")
print(Name)

What is your full name?My full name is Dakshi Gupta
My full name is Dakshi Gupta

In [2]:
a=float(input("enter no. 1:"))
b=float(input("enter no. 2:"))
c=a+b
print("My output is :",c)

enter no. 1:88
enter no. 2:66
My output is : 154.0

In [3]:
# we use {}- empty place holder 
first_name='dakshi' 
last_name='gupta'
print("my first_name is {} and last_name is {}".format(first_name,last_name))

my first_name is dakshi and last_name is gupta

In [9]:
a=60
b=70
if a%7==0:
    print("a is divisible by 7")
elif b%4==0:
    print("b is divisible by 4")
else:
    print("not divisible by both")

not divisible by both

In [12]:
a=20
b=50
if a%3==0:
    print("a is divisible by 3")
elif b%3==0:
    print("b is divisible by 3")
else:
    print("not divisible by both a and b")

not divisible by both a and b

In [7]:
#if, elif,else statement
a=10
if a % 4==0:
    print("a is divisible by 4")
elif a % 3==0:
    print("a is divisible by 3")
else:
    print("not divisible by both")

not divisible by both

# Lists

In [14]:
#list=[]
list=["my","name","is","dakshi"]
list
print(list[3])
list.insert(1,2)
list[2]="we"
list

dakshi

['my', 2, 'we', 'is', 'dakshi']

In [103]:
list=["my","name","is","dakshi","gupta"]
print(list)
type(list)
print(list[3])
list.insert(1,2)
list[4]="a"
list

['my', 'name', 'is', 'dakshi', 'gupta']
dakshi

['my', 2, 'name', 'is', 'a', 'gupta']

In [16]:
#in list square brackets[] are important
lst=["D","is","20","years","old"] 
lst

['D', 'is', '20', 'years', 'old']

In [18]:
print(type(lst))
print(lst[3])
print(lst[0])

<class 'list'>
years
D

In [7]:
type(lst[3])

str

In [8]:
#python list documentation
lst.insert(1,2)

In [9]:
lst[1]="a"
lst

['D', 'a', 'is', '20', 'years', 'old']

In [20]:
list=[]
for a in "gupta":
    list.append(a)
print(list)

['g', 'u', 'p', 't', 'a']

In [19]:
list=[]
for k in "dakshi":
    list.append(k)
print(list)

['d', 'a', 'k', 's', 'h', 'i']

In [21]:
list=[4,7,5]
list1=[]
for i in list:
    list1.append(i**2)
print(list1)

[16, 49, 25]

In [12]:
lst=[2,6,8]
lst1=[]
for i in lst:
    lst1.append(i**2)
print(lst1)

[4, 36, 64]

In [13]:
#list of even numbers
lst=[1,2,3,4,5,6,7,8,9]
for num in lst:
    if num%2==0:
        print(num,end=" ")

2 4 6 8

In [33]:
#list of odd numbers
lst1=[1,2,3,4,5,6,7,8,9]
for num in lst1:
    if num%3==0:
        print(num,end=" ")

3 6 9

In [34]:
list=[1,2,4,6,7,3,17,33]
for num in list:
    if num%2==0:
        print(num,end=" ")

2 4 6

In [35]:
list=[1,2,4,6,7,3,17,33]
for num in list:
    if num%3==0:
        print(num,end=" ")

6 3 33