## Tuples##

Tuples are used to store multiple items in a single variable.A tuple is a collection of objects which ordered and immutable.Immutable means I cannot change the value once tuple is defined. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [4]:
tuple=(1,3,5,9,6)
print(tuple)
tuple[5]

(1, 3, 5, 9, 6)

IndexError: tuple index out of range

In [1]:
#we use () in tuple
tuple=(1,2,3,4,5)
print(tuple)
tuple[3]

(1, 2, 3, 4, 5)

4

In [8]:
t=(4,5,6)
l=["Dakshi","Gupta"]
print(l)
[i[::-1]for i in l][::-1]

['Dakshi', 'Gupta']

['atpuG', 'ihskaD']

In [2]:
tuple1=(1,2,3,4)
tuple2=("dakshi","gupta")
print(tuple1+tuple2)

(1, 2, 3, 4, 'dakshi', 'gupta')

In [52]:
t=(1,2,3)
l=["Dakshi","Gupta"]
print(l)
[i[::-1]for i in l]#reverse
[i[::-1]for i in l][::-1]

['Dakshi', 'Gupta']

['atpuG', 'ihskaD']

In [ ]:
['ihskaD', 'atpuG']

In [3]:
t=(1,2,3)
l=["dakshi","gupta"]
print(l)
[i[::-1]for i in l]#for reverse
[i[::-1]for i in l][::-1]

['dakshi', 'gupta']

['atpug', 'ihskad']

***There are only 2 inbuilt functions in tuple***

1.count

2.index

In [12]:
i=(1,2,4,4,6,8,2,9,1,2,5,7,4,5,2)
i.count(4)
i.index(2)
len(i)

15

In [4]:
a=(1,2,3,4,5,2,1,3,4,5,2,3)
a.count(2)#2 is coming 3 times 
a.index(1)#o is coming because 1 is in starting point  so thats why wwe didn't count 1
len(a)#count of all numbers

12

In [29]:
a=(1,2,3,4,5,2,1,3,4,5,2,3)
a.count(2)
a.index(2)
len(a)

12

# Sets

**A set is an unordered collection of unique values.A set itself is a mutable object i.e, an object that can be changed after it is created**.

In [5]:
#{} - empty place order
set={}
type(set)

dict

In [18]:
my_set={1,3,5,6}
my_set.remove(3)
my_set

{1, 5, 6}

In [16]:
#my_set.pop()
#print(my_set)

In [19]:
my_set.add(8)
my_set

{1, 5, 6, 8}

In [32]:
my_set.add(0)
print(my_set)

{0, 3, 5}

In [24]:
a={1,2,3,4,5}
b={6,7,8,9,10}
a.add(11)
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [40]:
a={1,2,3,4,5}
b={6,7,8,9,10}
a.add(11)
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [42]:
a={1,2,3,4,5}
b={6,7,8,9,10}
a.add(11)
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [28]:
x1={3,4,5}
x2={1,2,3,4,5,6,7}
list(x2)[3:]
type(x1)

set

In [10]:
x1={3,4,5}
x2={1,2,3,4,5,6,7}
x2.issuperset(x1)
list(x2)[2:]

[3, 4, 5, 6, 7]

In [16]:
type(s)

set